<!-- Vertically centered modal -->
<div class="mat-typography">
  <h2><img class="rounded float-start" src="../../assets/images/appicon.png" style="height:40px;margin-right:10px">
    Field Squared</h2>
  <form [formGroup]="loginForm">
    <p>
      <mat-form-field class="w-100">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required formControlName="Email">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="w-100">
        <mat-label>Enter your password</mat-label>
        <input matInput required formControlName="Password">
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button class="mr-3" (click)="login()">Sign In</button>
      <button mat-raised-button class="mr-3">Single Sign In</button>
      <button mat-button>Reset Password</button>
    </p>
  </form>
</div>
